<!DOCTYPE html>
<html style="font-family: Cairo, sans-serif;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>مقالتي</title>
    <meta name="description" content="موقع يسمح لك بنشر مقالات ومشاركتها مع الاخرين">
    <link rel="stylesheet" href="~/asset/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="~/asset/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/asset/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/asset/css/Animation-Cards-1.css">
    <link rel="stylesheet" href="~/asset/css/Animation-Cards.css">
    <link rel="stylesheet" href="~/asset/css/Article-Cards.css">
    <link rel="stylesheet" href="~/asset/css/Article-Clean.css">
    <link rel="stylesheet" href="~/asset/css/Article-List.css">
    <link rel="stylesheet" href="~/asset/css/Black-Navbar.css">
    <link rel="stylesheet" href="~/asset/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="~/asset/css/dh-navbar-inverse.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="~/asset/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="~/asset/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="~/asset/css/Navbar---Apple-1.css">
    <link rel="stylesheet" href="~/asset/css/Navbar---Apple.css">
    <link rel="stylesheet" href="~/asset/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="~/asset/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="~/asset/css/News-Cards.css">
    <link rel="stylesheet" href="~/asset/css/Off-Canvas-Sidebar-Drawer-Navbar.css">
    <link rel="stylesheet" href="~/asset/css/Responsive-UI-Card-02.css">
    <link rel="stylesheet" href="~/asset/css/Right-Sidebar.css">
    <link rel="stylesheet" href="~/asset/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="~/asset/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="~/asset/css/SIdebar-Responsive-2-1.css">
    <link rel="stylesheet" href="~/asset/css/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="~/asset/css/Sidebar-right-opening.css">
    <link rel="stylesheet" href="~/asset/css/Social-Icons.css">
    <link rel="stylesheet" href="~/asset/css/Soft-UI-Aside-Navbar.css">
    <link rel="stylesheet" href="~/asset/css/Studious-sidebar.css">
    <link rel="stylesheet" href="~/asset/css/Team-Boxed.css">
    <link rel="stylesheet" href="~/asset/css/Vertical-Left-SideBar-by-Jigar-Mistry.css">
</head>

<body style="font-family: Cairo;">
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container">
            <a class="navbar-brand" href="/Home/index">Back To home</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto"></ul><span class="navbar-text actions">
                    <a class="btn btn-light action-button" role="button" href="#" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">Book Appointment</a>
                    <a class="btn btn-light action-button" role="button" href="#" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">My details</a>
                    <a class="btn btn-light action-button" role="button" href="#" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;">View Appointment</a>
 

                    <a class="btn btn-light action-button" role="button" href="#" style="margin: 5px;width: 116.7px;margin-right: 0px;font-family: Cairo, sans-serif;background: var(--bs-red);">HomePage</a>
                </span>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
    <script src="~/asset/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/asset/js/bs-init-1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="~/asset/js/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
    <script src="~/asset/js/freelancer.js"></script>
    <script src="~/asset/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
    <script src="~/asset/js/Studious-sidebar.js"></script>
    <script src="~/asset/js/bs-init.js"></script>
    <script src="~/asset/js/chart.min.js"></script>
    <script src="~/asset/js/Navbar---Apple.js"></script>
    <script src="~/asset/js/Right-Sidebar.js"></script>
    <script src="~/asset/js/Sidebar-Menu.js"></script>
    <script src="~/asset/js/Sidebar-right-opening.js"></script>
    <script src="~/asset/js/theme.js"></script>
    <script src="~/asset/lib/bootbox.js/bootbox.min.js"></script>
</body>

</html>
